<h1>
  <%= @ticket.subject %>
</h1>
<p>
  <%= @ticket.request %>
</p>
<p><%= link_to "Ändern", edit_ticket_path(@ticket) %></p>
<p><%= link_to 'Destroy', @ticket, confirm: 'Are you sure?', method: :delete %>